---
import QuietTimer from '../components/QuietTimer.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Quiet Timer</title>
  </head>
  <body style="margin:0;padding:0;">
    <QuietTimer duracion={600} client:load />
  </body>
</html>
