---
import QuietTimer from '../components/QuietTimer.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiet Timer</title>
  </head>
  <body>
    <QuietTimer duracion={600} />
  </body>
</html>
